<%= form_with(model: car, local: true) do |form| %>

  <% if car.errors.any? %>
    <div class="notification is-danger">
      <h2 class="title is-5"><%= pluralize(car.errors.count, "error") %> impidieron que se guardara este auto:</h2>
      <ul>
        <% car.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :plate_number, "Numero de placa", class: "label" %>
    <div class="control">
      <%= form.text_field :plate_number, class: "input #{'is-danger' if car.errors[:plate_number].any?}" %>
    </div>
    <% if car.errors[:plate_number].any? %>
      <p class="help is-danger"><%= car.errors[:plate_number].first %></p>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :model, "Modelo", class: "label" %>
    <div class="control">
      <%= form.text_field :model, class: "input #{'is-danger' if car.errors[:model].any?}" %>
    </div>
    <% if car.errors[:model].any? %>
      <p class="help is-danger"><%= car.errors[:model].first %></p>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :year, "Año", class: "label" %>
    <div class="control">
      <%= form.number_field :year, class: "input #{'is-danger' if car.errors[:year].any?}" %>
    </div>
    <% if car.errors[:year].any? %>
      <p class="help is-danger"><%= car.errors[:year].first %></p>
    <% end %>
  </div>

  <div class="field">
    <div class="control">
      <%= form.submit "Guardar Auto", class: "button is-primary" %>
    </div>
  </div>

<% end %>
