<%= form_with(model: maintenance_service, local: true) do |form| %>

  <% if maintenance_service.errors.any? %>
    <div class="notification is-danger">
      <h2 class="title is-5"><%= pluralize(maintenance_service.errors.count, "error") %> impidieron que se guardara este servicio:</h2>
      <ul>
        <% maintenance_service.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Select para Carros -->
  <div class="field">
    <%= form.label :car_id, "Seleccione un Auto", class: "label" %>
    <div class="control">
      <%= form.collection_select :car_id, @cars, :id, :plate_number, { prompt: "Seleccione un auto" }, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :description, "Descripción", class: "label" %>
    <div class="control">
      <%= form.text_field :description, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :status, "Estado", class: "label" %>
    <div class="control">
      <%= form.select :status, MaintenanceService.statuses.keys.map { |status| [status.humanize, status] }, {}, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :date, "Fecha", class: "label" %>
    <div class="control">
      <%= form.date_field :date, class: "input" %>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= form.submit "Guardar", class: "button is-primary" %>
    </div>
  </div>

<% end %>
