<div id="<%= dom_id maintenance_service %>" class="box">
  <p>
    <strong>Auto:</strong>
    <%= maintenance_service.car.plate_number %> <!-- Accede al atributo del auto relacionado -->
  </p>

  <p>
    <strong>Descripción:</strong>
    <%= maintenance_service.description %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= maintenance_service.status.humanize %> <!-- Humanizamos el estado para mejor legibilidad -->
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= maintenance_service.date.strftime('%d/%m/%Y') %> <!-- Formateamos la fecha -->
  </p>
</div>
