<p class="has-text-success"><%= notice %></p>

<div class="box">
  <h2 class="title is-4">Detalles del Servicio de Mantenimiento</h2>
  
  <p><strong>Auto: </strong><%=@maintenance_service.car.id%></p>
  <p><strong>Descripción:</strong> <%= @maintenance_service.description %></p>
  <p><strong>Estado:</strong> <%= @maintenance_service.status %></p>
  <p><strong>Fecha:</strong> <%= @maintenance_service.date %></p>
</div>

<div class="buttons">
  <%= link_to "Editar este servicio", edit_maintenance_service_path(@maintenance_service), class: "button is-warning" %>
  <%= link_to "Volver a los servicios de mantenimiento", maintenance_services_path, class: "button is-link" %>
  <%= button_to "Eliminar este servicio", @maintenance_service, method: :delete, data: { confirm: "¿Estás seguro?" }, class: "button is-danger" %>
</div>
